.service-tittle{
  position: absolute;
  top: 1029px;
  left:50%;
  font-size: 3rem;
  font-weight: bold;
  color: $light-green;
}
.card-deck-service{
  border-radius: 20px;
}
.service-padding{
  padding: 5%!important;
}
