$text: roboto;
//$logo-font: Montserat;
$primary: #006341;
//$logo-text: #3BB54B;
$secondary: #E5EFEC;
$tertiary:#579882;
$white: #ffffff;
//$footer-padding: 80px;
//$footer-font: 0.5rem;
//$menu-margin: 15px;
//$logo-size: 20px;
