$text: roboto;
$logo-font: Montserat;
$dark-green: #006341;
$logo-text: #3BB54B;
$background-color: #E5EFEC;
$white: #ffffff;
$footer-padding: 80px;
$footer-font: 0.5rem;
$menu-margin: 15px;
$logo-size: 20px;
